html,
div,
a,
body {
  padding: 0px;
  margin: 0px;
}

/*鼠标样式:手形状*/
.mouse-hand {
  cursor: pointer;
}

/*所有字体图标鼠标样式:手形状*/
i.iconfont {
  cursor: pointer;
}

/*高度100%*/
.height-full {
  height: 100%;
}

/*宽度100%*/
.width-full {
  width: 100%;
}

/*占位*/
.seat {
  min-height: 1px;
}

/*标题字体大小*/
.fontsize-Title {
  font-size: 18px;
}

/*小标题字体大小*/
.fontsize-SmallTitle {
  font-size: 16px;
}

/*正文字体大小*/
.fontsize-text {
  font-size: 14px;
}

/*小正文字体大小*/
.fontsize-Smalltext {
  font-size: 13px;
}

.fontsize-Small10 {
  font-size: 10px;
}

/*白色背景*/
.background-white {
  background-color: white;
}

/*背景*/
.background-6F9 {
  background-color: #F4F6F9;
}

/*居左*/
.align-left {
  text-align: left;
}

/*居中*/
.align-center {
  text-align: center;
}

/*居右*/
.align-right {
  text-align: right;
}

/**/
.margin-5 {
  margin: 5px;
}

/**/
.margin-top-5 {
  margin-top: 5px;
}

/**/
.margin-bottom-5 {
  margin-bottom: 5px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

/**/
.margin-left-5 {
  margin-left: 5px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-left-15 {
  margin-left: 15px;
}

/**/
.margin-right-5 {
  margin-right: 5px;
}

.margin-right-10 {
  margin-right: 10px;
}

.margin-right-15 {
  margin-right: 15px;
}

/**/
.padding-5 {
  padding: 5px;
}

/**/
.padding-top-5 {
  padding-top: 5px;
}

/**/
.padding-bottom-5 {
  padding-bottom: 5px;
}

/**/
.padding-left-5 {
  padding-left: 5px;
}

/**/
.padding-right-5 {
  padding-right: 5px;
}

/**/
.padding-top-10 {
  padding-top: 10px;
}

/**/
.padding-bottom-10 {
  padding-bottom: 10px;
}

/**/
.padding-left-10 {
  padding-left: 10px;
}

/**/
.padding-right-10 {
  padding-right: 10px;
}

.padding-right-50 {
  padding-right: 50px;
}

.padding-left-50 {
  padding-left: 50px;
}

/**********************弹窗开始**************************************/
/*全屏弹窗*/
.dialog-full {
  margin: 0px !important;
  width: 99.9%;
  height: 99.9%;
}

/*大弹窗*/
.dialog-large {
  margin-top: 5vh !important;
  width: 90%;
  height: 90%;
}

/*大窄弹窗*/
.dialog-large-narrow {
  margin-top: 10vh !important;
  width: 50%;
  height: 80%;
}

/*比大窄弹窗要高的弹窗*/
.dialog-large-morenarrow {
  margin-top: 10vh !important;
  width: 50%;
  height: 87%;
}

/*中弹窗*/
.dialog-medium {
  margin-top: 10vh !important;
  width: 70%;
  height: 70%;
}

/*小弹窗*/
.dialog-small {
  margin-top: 25vh !important;
  width: 50%;
  height: 50%;
}

.dialog-editfileinfo {
  margin-top: 20vh !important;
  width: 40%;
  height: 60%;
}

/*微小弹窗*/
.dialog-wsmall {
  margin-top: 30vh !important;
  width: 40%;
  height: 40%;
}

/*极微小弹窗*/
.dialog-psmall {
  margin-top: 30vh !important;
  width: 40%;
  height: 25%;
}

/*上传窗口*/
.dialog-upload {
  margin-top: 2vh !important;
  width: 40%;
  height: 90%;
}

.el-dialog {
  display: flex !important;
  flex-direction: column !important;
}

.el-dialog .el-dialog__body {
  /* padding: 0px 1px 5px 1px !important; */
  padding: 0px;
  margin: 0px !important;
  overflow: auto !important;
  height: 100% !important;
}

*:not(.of-tabs)>.el-tabs {
  padding: 0px !important;
  margin: 0px !important;
  /* height: calc(100% - 5px) !important; */
  height: 100%;
}

*:not(.of-tabs)>.el-tabs .el-tabs__content {
  /* height: calc(100% - 45px); */
  height: calc(100% - 39px);
  padding: 0px !important;
}

/******************************弹窗结束*********************************/

.float-right {
  float: right;
}

.el-footer-p {
  line-height: 30px;
}

.messagecenter {
  margin: 18% 16%;
}

.messagedialogcenter {
  margin: 18% 2%;
}

.p-left-footer {
  line-height: 40px;
}

.hidden {
  display: none;
}

#Search {
  border-bottom: 5px #D9D9D9 solid;
}

.el-header {
  padding: 0px !important;
  margin: 0px !important;
}

.exitem {
  border-bottom: 0px !important;
}

.green-title {
  color: #5182AF;
}

/*.tb-edit .el-input {
  display: none
}*/

.tb-edit .current-row .el-input {
  display: block
}

.tb-edit .current-row .el-input+span {
  display: none
}

.header-steps>.el-step.is-simple .el-step__arrow {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;

}

.header-steps>.el-step.is-simple .el-step__arrow::after,
.el-step.is-simple .el-step__arrow::before {
  content: '.........................';
  display: inline-block;
  position: absolute;
  height: 1px;
}

.header-steps>.el-step.is-simple .el-step__arrow::after {
  transform: rotate(180deg) translateY(-14px);
}

.header-steps>.el-step.is-simple .el-step__arrow::before {
  transform: rotate(360deg) translateY(-11px);
}

.header-steps>.el-step.is-simple:last-of-type .el-step__arrow {
  display: none;
}

.float-left {
  float: left;
}

.viewborderform {
  border-bottom: solid 1px #ccc;

}

*:not(.of-form)>.el-form .el-form-item--mini.el-form-item,
*:not(.of-form)>.el-form .el-form-item--small.el-form-item {
  margin: 0 !important;
}

*:not(.of-form)>.el-form .el-form-item--small .el-form-item__content,
*:not(.of-form)>.el-form .el-form-item--small .el-form-item__label {
  line-height: 44px !important;
}

.desform {
  border-bottom: solid 1px #ccc;
}

.dropdown_menu {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

.dropdown_menu::-webkit-scrollbar {
  width: 0px;
}

.wnw-list-headerbox ul {
  float: left;
  border-bottom: 0px !important;
  width: 225px;
  height: 30px;
  margin-left: -10px;
}

.wnw-list-headerbox ul li.el-menu-item {
  margin-right: 2px;
  line-height: 30px;
  width: 110px;
  height: 30px;
}

.wnw-list-headerbox ul li.el-menu-item.is-active {
  height: 37px;
}

.el-card {
  border-radius: 15px;
}

.el-row {
  margin-bottom: 20px;
}

.elRowText {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: white;
  margin-top: -10px;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerColor {
  background-color: aqua;
}

.text {
  font-size: 16px;
}

.item {
  margin-bottom: 18px;
}

.schart {
  width: 100%;
  height: 280px;
  text-align: center;
}